/* 声明字体图标 */
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?tomleg');
    src:  url('../fonts/icomoon.eot?tomleg#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?tomleg') format('truetype'),
      url('../fonts/icomoon.woff?tomleg') format('woff'),
      url('../fonts/icomoon.svg?tomleg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  /* 快捷导航栏 */
.w {
    width: 1200px;
    margin: 0 auto;
}
.shortcut  {
    height: 31px;
    background-color: #f1f1f1;
    line-height: 31px;
}
.shortcut_fl {
    float:left;
    
}
.shortcut_fl ul li {
    float: left;
    font-size: 12px;
}
.style_red {
    color: red;
}
.shortcut_rf {
    float: right;

}
.shortcut_rf ul li {
    float: left;
    font-size: 12px;
}
.shortcut_rf ul li:nth-child(even) {
    width: 1px;
    height: 12px;
    margin: 9px 15px;
    background-color: #666666;
}
.select_ico::after {
    content: '\e91e';
    font-family: "icomoon";
    margin-left: 6px;
}
/* 头部模块 */
.header {
    position:relative;
    height: 106px;

}
.logo {
    position: absolute;
    top: 28px;
    width: 175px;
    height: 56px;
}
.logo h1 a {
    display: block;
    width: 175px;
    height: 56px;
    background: url(../images/logo.png) no-repeat;
    font-size: 0;
}
.search {
    position: absolute;
    left: 346px;
    top: 25px;
    width: 538px;
    height: 36px;
    border: 2px solid #b1191a;
}
.search input {
    float: left;
    width: 454px;
    height: 32px;
    padding-left: 10px;

}
.search button {
    float: left;
    width: 80px;
    height: 32px;
    background-color: #b1191a;
    font-size: 16px;
    color: #ffffff;
}
.hotwords {
    position: absolute;
    left: 348px;
    top: 70px;
}
.hotwords ul li {
    float: left;
    margin: 0 10px;
    font-size: 12px;
}
.shopcar {
    position: absolute;
    top: 26px;
    right: 64px;
    width: 140px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border: 1px solid #dfdfdf ;
    background-color: #f7f7f7;

}
.shopcar::before {
    content: '\e93a';
    font-family: 'icomoon';
    color: red;
    margin-right: 8px;
}
.shopcar::after {
    content: '\e920';
    font-family: 'icomoon';
    margin-left: 8px;
}
.shopcar i {
    position: absolute;
    top: -6px;
    padding: 0 5px;
    right: 18px;
    height: 14px;
    line-height: 14px;
    background-color: #e60012;
    font-size: 12px;
    color: #fefefe;
    border-radius: 7px 7px 7px 0;

}
/* 导航栏模块 */
.nav {
    height: 47px;
    border-bottom: 2px solid #b1191a;
}
.dropdown {
    float: left;
    width: 210px;
    height: 45px;
}
.dropdown .dt {
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 45px;
    font-size: 16px;
    color: #ffffff;
    background-color: #b1191a;
}
.dropdown .dd {
    /* display: none; */
    margin-top: 2px;
    width: 210px;
    height: 465px;
    background-color: #c81623;
}
.dropdown .dd ul li {
    position: relative;
    height: 31px;
    line-height: 31px;
    margin-left: 2px;
    padding-left: 10px;
}
.dropdown .dd ul li::after {
    position: absolute;
    right: 10px;
    font-family: 'icomoon';
    content: '\e920';
    font-size: 14px;
    color: #f4ebeb;
}
.dropdown .dd ul li a {
    font-size: 14px;
    color: #ffffff;

}
.dropdown .dd ul li:hover {
    background-color: #f7f7f7;
}
.dropdown .dd ul li:hover a {
    color: #c81623;
}

.nav .navitems {
    float: left;
    margin-left: 15px;
}
.navitems ul li {
    float: left;
    
}
.navitems ul li a {
    display: block;
    line-height: 47px;
    padding: 0 25px;
    font-size: 16px;
}
/* 底部模块 */
.footer {
    height: 415px;
    background-color: #f5f5f5;
    padding-top: 30px;
}
.mod_service {
    height: 80px;
    border-bottom: 1px solid #ccc;
}
.mod_service ul li {
    float: left;
    width: 240px;
    height: 80px;
    /* line-height: 80px; */
    padding-left: 30px;
}

.mod_service ul li h5 {
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 6px;
    background: url(../images/icons.png) no-repeat -252px -2px;
}
.service_txt {
    margin-top: 8px;
}
.service_txt h4 {
    font-size: 14px;
}
.service_txt p {
    font-size: 12px;
}
.mod_help {
    height: 185px;
    padding-top: 20px;
    padding-left: 50px;
    border-bottom: 1px solid #ccc;
}
.mod_help dl dt {
    font-size: 16px;
    margin-bottom: 10px;
}
.mod_help dl {
    float: left;
    width: 200px;
}
.mod_help dl:last-child {
    width: 90px;
    text-align: center;
}
.mod_copyright {
    text-align: center;
}
.mod_copyright .link {
    margin-top: 20px;
    margin-bottom: 15px;
}
.mod_copyright .copyright {
    line-height: 20px;
}




