.main {
    width: 980px;
    height: 455px;
    margin-left: 220px;
    margin-top: 10px;
    /* background-color: pink; */
}
.main .focus {
    float: left;
    width: 721px;
    height: 455px;
    /* background-color: blue; */
}
.main .newsflash {
    overflow: hidden;
    float: right;
    width: 250px;
    height: 455px;
    /* background-color: red; */

}
.news {
    height: 165px;
    border: 1px solid #e4e4e4;
}
.lifeservice {
    height: 210px;
    border: 1px solid #e4e4e4;
    border-bottom: 0;
    border-top: 0;
}
.lifeservice ul {
    width: 252px;
}
.lifeservice ul li {
    position: relative;
    float: left;
    width: 63px;
    height: 70px;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    text-align: center;
}
.lifeservice ul li .reduce {
    position: absolute;
    top: 0;
    right: 0;
    width: 12px;
    height: 16px;
    line-height: 16px;
    color: #fff;
    background-color: green;
}
.lifeservice ul li i {
    display: inline-block;
    width: 24px;
    height: 28px;
    margin-top: 13px;
    background: url(../images/icons.png) no-repeat -19px -15px ;
    
}

.bargain {
    margin-top: 5px;
}
.news-hd {
    height: 33px;
    line-height: 33px;
    padding: 0 10px;
    border-bottom: 1px dotted #e4e4e4;
}
.news-hd h5 {
    float: left;
    font-size: 14px;
}
.news-hd a {
    float: right;
    font-size: 12px;
}
.news-hd a::after {
    font-family: 'icomoon';
    content: '\e920';
}
.news-bd {
    padding: 5px 15px 0;
}

.news-bd ul li {
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.recom {
    height: 163px;
    margin-top: 10px;
    background-color: #ebebeb;
}
.recom-hd {
    float: left;
    width: 206px;
    height: 163px;
    text-align: center;
    background-color: #5c5251;
}
.recom-hd img {
    margin-top: 30px;
}
.recom-bd {
    float: right;
    width: 994px;
}
.recom-bd ul li {
    position: relative;
    float: left;
    width: 248px;
    height: 163px;  
}
.recom-bd ul li:nth-child(-n+3)::after {
    content: '';
    position: absolute;
    top: 10px;
    right: 0;
    width: 1px;
    height: 144px;
    background-color: #ddd;
}
/* 家用电器模块 */
.box-hd {
    height: 30px;
    border-bottom: 2px solid #c81623;
}
.box-hd h3 {
    float: left;
    font-size: 18px;
    font-weight: 400;
    color: #c81623;
}
.box-hd .tab_list {
    float: right;
    line-height: 30px;
}
.tab_list ul li {
    float: left;

}
.tab_list ul li a {
    margin: 0 15px;
}
.floor .w {
    margin-top: 30px;
}
.box-bd {
    height: 361px;
}
.tab_list_item>div {
    float: left;
    height: 361px;
}
.col_210 {
    width: 210px;
    background-color: #f9f9f9;
    text-align: center;
}
.col_210 img {
    margin-top: 24px;
}
.col_329 {
    width: 329px;
}
.col_221 {
    width: 221px;
    border-right: 1px solid #ccc;
}
.col_219 {
    width: 219px;
}
.col_210 ul li {
    width: 85px;
    height: 34px;
    float:left;
    line-height: 34px;
    text-align: center;
    border-bottom: 1px solid #ededed;
    margin-left: 10px;

}
.bb {
    display: block;
    border-bottom: 1px solid #ccc;
}
